########################
# Unreal Derived Files #
########################

**/Build
**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/Content/StarterContent/HDRI/
**/Content/StarterContent/Textures/

####################
# VS Derived Files #
####################

*.VS.db
.vs